<!-- Add Address Model -->
<div id="address_model" class="header-cate-model main-gambo-model modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Address</h5>
                <button type="button" class="close-model-btn" data-bs-dismiss="modal" aria-label="Close">
                    <i class="uil uil-multiply"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="addressForm" novalidate>
                    <input type="hidden" id="addressId">
                    <!-- Address Type Radio Buttons -->
                    <div class="address-type-selection mb-4">
                        <div class="address-type-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label class="control-label mb-2">Address Type*</label>
                                    <div class="address-types">
                                        <div class="type-item">
                                            <input type="radio" id="ad1" name="addressType" value="Home" checked>
                                            <label for="ad1"><i class="uil uil-home"></i>Home</label>
                                        </div>
                                        <div class="type-item">
                                            <input type="radio" id="ad2" name="addressType" value="Office">
                                            <label for="ad2"><i class="uil uil-building"></i>Office</label>
                                        </div>
                                        <div class="type-item">
                                            <input type="radio" id="ad3" name="addressType" value="Other">
                                            <label for="ad3"><i class="uil uil-map-marker"></i>Other</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row">
                            <!-- Name and Mobile -->
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group mt-4">
                                    <label class="control-label">Full Name*</label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                    <div class="invalid-feedback" id="nameError">Name is required</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group mt-4">
                                    <label class="control-label">Mobile Number*</label>
                                    <input type="tel" class="form-control" id="mobile" name="mobile" required>
                                    <div class="invalid-feedback" id="mobileError">Enter valid mobile number</div>
                                </div>
                            </div>

                            <!-- House/Flat Number -->
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group mt-4">
                                    <label class="control-label">Flat / House / Office No.*</label>
                                    <input id="flat" name="flat" type="text" placeholder="Address" class="form-control" required>
                                    <div class="invalid-feedback" id="flatError">House/Flat number is required</div>
                                </div>
                            </div>

                            <!-- Street Address -->
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group mt-4">
                                    <label class="control-label">Street / Society / Office Name*</label>
                                    <input id="addressLine" name="addressLine" type="text" class="form-control" required>
                                    <div class="invalid-feedback" id="addressLineError">Street address is required</div>
                                </div>
                            </div>

                            <!-- City and State -->
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group mt-4">
                                    <label class="control-label">City*</label>
                                    <input type="text" class="form-control" id="city" name="city" required>
                                    <div class="invalid-feedback" id="cityError">City is required</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group mt-4">
                                    <label class="control-label">State*</label>
                                    <select class="form-control" id="state" name="state" required>
                                        <option value="">Select State</option>
                                        <option value="Kerala">Kerala</option>
                                    </select>
                                    <div class="invalid-feedback" id="stateError">State is required</div>
                                </div>
                            </div>

                            <!-- Pincode -->
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group mt-4">
                                    <label class="control-label">Pincode*</label>
                                    <input id="pincode" name="pincode" type="text" class="form-control" required>
                                    <div class="invalid-feedback" id="pincodeError">Enter valid pincode</div>
                                </div>
                            </div>

                            <!-- Default Address Checkbox -->
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group mt-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="isDefault" name="isDefault">
                                        <label class="form-check-label">Make this my default address</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Save Button -->
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group mt-4">
                                    <button type="button" class="save-btn14 hover-btn w-100" onclick="saveAddress()">
                                        Save Address
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>