<div class="header-cate-model main-gambo-model modal fade" id="category_model" tabindex="-1" role="dialog" aria-modal="false">
    <div class="modal-dialog category-area" role="document">
        <div class="category-area-inner">
            <div class="modal-header">
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="category-model-content modal-content"> 
                <div class="cate-header">
                    <h4>Select Category</h4>
                </div>
                <ul class="category-by-cat">
                    <% parentCategories.forEach(category => { %>
                        <li>
                            <a href="/category/<%= category._id %>" class="single-cat-item">
                                <div class="icon">
                                    <img src="<%= category.image %>" alt="<%= category.name %>">
                                </div>
                                <div class="text"><%= category.name %></div>
                            </a>
                        </li>
                    <% }); %>
                </ul>
                <a href="/categories" class="morecate-btn">
                    <i class="uil uil-apps"></i>More Categories
                </a>
            </div>
        </div>
    </div>
</div>