<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo.png" type="image/png">
    <title>Foodmart - Food & Grocery Delivery Mobile Template</title>
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="vender/bootstrap/css/bootstrap.min.css">
    <!-- Icofont -->
    <link rel="stylesheet" href="vender/icofont/icofont.min.css">
    <!-- Slick SLider Css -->
    <link rel="stylesheet" href="vender/slick/slick/slick.css"> 
    <link rel="stylesheet" href="vender/slick/slick/slick-theme.css">
    <!-- Sidebar css -->
    <link rel="stylesheet" href="vender/sidebar/demo.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="css/style.css">
 </head>