<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="img/logo.png" type="image/png">
      <title>FIARWAY</title>
      <!-- Bootstrap Css -->
      <link rel="stylesheet" href="vender fd/bootstrap/css/bootstrap.min.css">
      <!-- Icofont -->
      <link rel="stylesheet" href="vender fd/icofont/icofont.min.css">
      <!-- Slick SLider Css -->
      <link rel="stylesheet" href="vender fd/slick/slick/slick.css">
      <link rel="stylesheet" href="vender fd/slick/slick/slick-theme.css">
      <!-- Sidebar css -->
      <link rel="stylesheet" href="vender fd/sidebar/demo.css">
      <!-- Custom Css -->
      <link rel="stylesheet" href="css fd/style.css">
      <!-- SweetAlert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

   </head>
   <body>
      <div class="homepage d-flex flex-column vh-100">
         <!-- navbar -->
         <div class="homepage-navbar bg-light shadow mb-auto p-3 bg-primary">
            <div class="d-flex align-items-center">
               <a href="#" class="link-dark text-truncate d-flex align-items-center gap-2" data-bs-toggle="offcanvas" data-bs-target="#location"
                  aria-controls="location">
                  <i class="icofont-clock-time fs-2 text-white"></i>
                  <span>
                     <h6 class="fw-bold text-white mb-0">Delivery in 16 minutes</h6>
                     <p class="text-white-50 text-truncate d-inline-block mb-0 w-75 align-bottom">H.No. 2834 Street, 784 Sector, Ludhiana, Punjab</p>
                  </span>
               </a>
               <div class="d-flex align-items-center gap-2 ms-auto">
                  <a href="/signup" class="link-dark">
                     <div class="bg-dark bg-opacity-75 rounded-circle user-icon"><i class="bi bi-person d-flex m-0 h4 text-white"></i></div>
                  </a>
                  <a class="toggle" href="#">
                  <b class="bg-dark bg-opacity-75 rounded-circle user-icon">
                  <i class="bi bi-list d-flex m-0 h4 text-white"></i>
                  </b>
                  </a>
               </div>
            </div>
            <div class="pt-3">
               <!-- search -->
               <a href="#" data-bs-toggle="offcanvas" data-bs-target="#searchoffcanvas"
                  aria-controls="searchoffcanvas">
                  <div class="input-group bg-white rounded-3 shadow-sm py-1">
                     <input type="text" class="form-control bg-transparent border-0 rounded-0 px-3"
                        placeholder="Search for atta, dal, coke and more" aria-label="Search for atta, dal, coke and more"
                        aria-describedby="search">
                     <span class="input-group-text bg-transparent border-0 rounded-0 pe-3" id="search"><i
                        class="icofont-search-1"></i></span>
                  </div>
               </a>
            </div>
         </div>
         <!-- body -->
         <div class="my-auto overflow-auto vh-100">
            <!-- shop by category -->
            <div class="bg-light pb-3">
               <div class="d-flex align-items-center justify-content-between p-3">
                  <h5 class="fw-bold text-black mb-0">Great deals on top picks</h5>
                  <a class="text-primary" data-bs-toggle="modal" data-bs-target="#categories" href="#">View all<i class="icofont-rounded-right"></i></a>
               </div>
               <div class="all-cate">
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-1.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Foodmart Hot Deals</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-2.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Fruits and Vegetables</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-3.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Atta, Rice and Dals</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-4.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Dry fruits and Masalas</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-5.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Dairy, Bread and Eggs</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-6.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Foodmart Instant Food</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-7.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Chocklates and Desserts</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-8.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Foodmart Munchies</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-9.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Cold Drinks and Juices</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-10.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Cereals and Breakfast</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-11.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Sauces and Spreads</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-12.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Tea, Coffee and More</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-13.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Foodmart Biscuits</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-14.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Bath, Body and Hair</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-15.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Cleaning Essentials</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-16.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Beauty and Grooming</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-17.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Home and Kitchens</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-18.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Sationary and Electrical</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-19.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Hygiene and Wellness</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-20.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Foodmart Baby Care</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-21.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">New Pet Supplies</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-22.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Paan Corner items</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-23.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Foodmart Fresh Meat</p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col ps-3">
                     <a href="listing.html" class="link-dark">
                        <div class="card bg-transparent border-0 text-center">
                           <img src="img/category-24.png" alt="" class="card-img-top rounded-4 mb-2">
                           <div class="card-body p-0">
                              <p class="card-title small m-0">Foodmart Bakery items</p>
                           </div>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
            <!-- Top Picks -->
            <div class="pt-3">
               <div class="d-flex align-items-center justify-content-between px-3 pb-3">
                  <h5 class="fw-bold text-black mb-0">Great deals on top picks</h5>
                  <a class="text-primary" href="listing.html">View all<i class="icofont-rounded-right"></i></a>
               </div>
               <div class="top-picks">
                  <!-- 1st item -->
                  <div class="top-picks-item">
                     <div class="card bg-transparent border-0 overflow-hidden h-100 ps-3">
                        <a href="product-detail.html" class="link-dark">
                           <div class="bg-light rounded-4 p-4 position-relative product-box">
                              <img src="img/amul-butter.png" alt="" class="img-fluid h-100 d-block mx-auto">
                           </div>
                        </a>
                        <div class="bg-info position-absolute top-0 text-white osahan-badge text-center mx-3">
                           <b>2%</b><br>OFF
                        </div>
                        <div class="card-body p-0">
                           <small class="text-muted">Amul</small>
                           <h6 class="card-title fw-bold">Pasteuised Butter Pack of 2</h6>
                           <p class="card-text text-muted">100 g x 2</p>
                        </div>
                        <div
                           class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                           <div>
                              <del class="small text-muted">$108</del>
                              <h6 class="fw-bold m-0">$106</h6>
                           </div>
                           <a href="cart.html"
                              class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                        </div>
                     </div>
                  </div>
                  <!-- 2nd item -->
                  <div class="top-picks-item">
                     <div class="card bg-transparent border-0 overflow-hidden h-100 ps-3">
                        <a href="product-detail.html" class="link-dark">
                           <div class="bg-light rounded-4 p-2 position-relative product-box">
                              <img src="img/fortune-oil.png" alt="" class="img-fluid h-100 d-block mx-auto">
                           </div>
                        </a>
                        <div class="bg-success position-absolute top-0 text-white osahan-badge text-center mx-3">
                           <b>4%</b><br>OFF
                        </div>
                        <div class="card-body p-0">
                           <small class="text-muted">Fortune</small>
                           <h6 class="card-title fw-bold">Soya Refined Soybean Oil</h6>
                           <p class="card-text text-muted">1 L</p>
                        </div>
                        <div
                           class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                           <div>
                              <del class="small text-muted">$180</del>
                              <h6 class="fw-bold m-0">$173</h6>
                           </div>
                           <a href="cart.html"
                              class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                        </div>
                     </div>
                  </div>
                  <!-- 3rd item -->
                  <div class="top-picks-item">
                     <div class="card bg-transparent border-0 overflow-hidden h-100 ps-3">
                        <a href="product-detail.html" class="link-dark">
                           <div class="bg-light rounded-4 p-2 position-relative product-box">
                              <img src="img/kachighani-oil.png" alt="" class="img-fluid h-100 d-block mx-auto">
                           </div>
                        </a>
                        <div class="bg-success position-absolute top-0 text-white osahan-badge text-center mx-3">
                           <b>4%</b><br>OFF
                        </div>
                        <div class="card-body p-0">
                           <small class="text-muted">Fortune</small>
                           <h6 class="card-title fw-bold">Kachi Ghani Pure Mustard Oil</h6>
                           <p class="card-text text-muted">1 L</p>
                        </div>
                        <div
                           class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                           <div>
                              <del class="small text-muted">$196</del>
                              <h6 class="fw-bold m-0">$188</h6>
                           </div>
                           <a href="cart.html"
                              class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                        </div>
                     </div>
                  </div>
                  <!-- 4rth item -->
                  <div class="top-picks-item">
                     <div class="card bg-transparent border-0 overflow-hidden h-100 ps-3">
                        <a href="product-detail.html" class="link-dark">
                           <div class="bg-light rounded-4 p-2 product-box">
                              <img src="img/uncle-chips.png" alt="" class="img-fluid h-100 d-block mx-auto">
                           </div>
                        </a>
                        <div class="card-body p-0">
                           <small class="text-muted">Uncle Chipps</small>
                           <h6 class="card-title fw-bold">Spicy Treat Sweet Chipps</h6>
                           <p class="card-text text-muted">50 g</p>
                        </div>
                        <div
                           class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                           <div>
                              <del class="small text-muted">$25</del>
                              <h6 class="fw-bold m-0">$20</h6>
                           </div>
                           <a href="cart.html"
                              class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                        </div>
                     </div>
                  </div>
                  <!-- 5th item -->
                  <div class="top-picks-item">
                     <div class="card bg-transparent border-0 overflow-hidden h-100 ps-3 pe-1">
                        <a href="product-detail.html" class="link-dark">
                           <div class="bg-light rounded-4 p-2 product-box">
                              <img src="img/tata-gold.png" alt="" class="img-fluid h-100 d-block mx-auto">
                           </div>
                        </a>
                        <div class="card-body p-0">
                           <small class="text-muted">Tata</small>
                           <h6 class="card-title fw-bold">Tata Gold with 15% Long Leaves</h6>
                           <p class="card-text text-muted">750 g</p>
                        </div>
                        <div
                           class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                           <div>
                              <del class="small text-muted">$470</del>
                              <h6 class="fw-bold m-0">$323</h6>
                           </div>
                           <a href="cart.html"
                              class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="p-3">
                  <a href="#" class="bg-success shadow text-white rounded-4 d-flex align-items-center px-3 py-2"> Explore <span class="bg-primary px-2 py-1 rounded-2 small text-uppercase fw-bold text-white m-2">Mega Savings</span> Store
                     <i class="bi bi-arrow-right text-warning fs-5 ms-auto"></i>
                  </a>
               </div>
            </div>
            <!-- coupons -->
            <div class="bg-warning">
               <h5 class="fw-bold text-black mb-0 p-3">Save more with coupons</h5>
               <div>
                  <div class="coupons">
                     <div class="coupons-item">
                        <div class="link-dark pb-3 ps-3">
                           <div class="d-flex align-items-center gap-3 shadow-sm rounded-4 p-3 bg-white">
                              <i class="icofont-sale-discount icofont-2x text-success"></i>
                              <div>
                                 <h6 class="fw-bold osahan-mb-1">Flat $100 off</h6>
                                 <p class="small text-muted text-uppercase mb-0">Use Helloim | on orders
                                    above $400
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="coupons-item">
                        <div class="link-dark pb-3 ps-3">
                           <div class="d-flex align-items-center gap-3 shadow-sm rounded-4 p-3 bg-white">
                              <i class="icofont-sale-discount icofont-2x text-success"></i>
                              <div>
                                 <h6 class="fw-bold osahan-mb-1">Flat $100 off</h6>
                                 <p class="small text-muted text-uppercase mb-0">Use Savebig | on orders
                                    above $999
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="coupons-item">
                        <div class="link-dark pb-3 ps-3">
                           <div class="d-flex align-items-center gap-3 shadow-sm rounded-4 p-3 bg-white">
                              <i class="icofont-sale-discount icofont-2x text-success"></i>
                              <div>
                                 <h6 class="fw-bold osahan-mb-1">15% off upto $124</h6>
                                 <p class="small text-muted text-uppercase mb-0">Use Citi125 | orders
                                    above $750
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="coupons-item">
                        <div class="link-dark pb-3 ps-3">
                           <div class="d-flex align-items-center gap-3 shadow-sm rounded-4 p-3 bg-white">
                              <i class="icofont-sale-discount icofont-2x text-success"></i>
                              <div>
                                 <h6 class="fw-bold osahan-mb-1">10% off upto $150</h6>
                                 <p class="small text-muted text-uppercase mb-0">Use hdfc150 | orders
                                    above $1250
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="coupons-item">
                        <div class="link-dark pb-3 ps-3">
                           <div class="d-flex align-items-center gap-3 shadow-sm rounded-4 p-3 bg-white">
                              <i class="icofont-sale-discount icofont-2x text-success"></i>
                              <div>
                                 <h6 class="fw-bold osahan-mb-1">Flat $150 off</h6>
                                 <p class="small text-muted text-uppercase mb-0">Use federalim | orders
                                    above $499
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- must have items -->
            <div class="py-3">
               <h5 class="fw-bold text-black mb-0 px-3 pb-3">Must Have Items</h5>
               <div class="top-picks">
                  <!-- 1st item -->
                  <div class="top-picks-item">
                     <div class="card bg-transparent border-0 overflow-hidden h-100 ps-3">
                        <a href="product-detail.html" class="link-dark">
                           <div class="bg-light rounded-4 p-4 position-relative product-box">
                              <img src="img/amul-butter.png" alt="" class="img-fluid h-100 d-block mx-auto">
                           </div>
                        </a>
                        <div class="bg-success position-absolute top-0 text-white osahan-badge text-center mx-3">
                           <b>2%</b><br>OFF
                        </div>
                        <div class="card-body p-0">
                           <small class="text-muted">Amul</small>
                           <h6 class="card-title fw-bold">Pasteuised Butter Pack of 2</h6>
                           <p class="card-text text-muted">100 g x 2</p>
                        </div>
                        <div
                           class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                           <div>
                              <del class="small text-muted">$108</del>
                              <h6 class="fw-bold m-0">$106</h6>
                           </div>
                           <a href="cart.html"
                              class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                        </div>
                     </div>
                  </div>
                  <!-- 2nd item -->
                  <div class="top-picks-item">
                     <div class="card bg-transparent border-0 overflow-hidden h-100 ps-3">
                        <a href="product-detail.html" class="link-dark">
                           <div class="bg-light rounded-4 p-2 position-relative product-box">
                              <img src="img/fortune-oil.png" alt="" class="img-fluid h-100 d-block mx-auto">
                           </div>
                        </a>
                        <div class="bg-success position-absolute top-0 text-white osahan-badge text-center mx-3">
                           <b>4%</b><br>OFF
                        </div>
                        <div class="card-body p-0">
                           <small class="text-muted">Fortune</small>
                           <h6 class="card-title fw-bold">Soya Refined Soybean Oil</h6>
                           <p class="card-text text-muted">1 L</p>
                        </div>
                        <div
                           class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                           <div>
                              <del class="small text-muted">$180</del>
                              <h6 class="fw-bold m-0">$173</h6>
                           </div>
                           <a href="cart.html"
                              class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                        </div>
                     </div>
                  </div>
                  <!-- 3rd item -->
                  <div class="top-picks-item">
                     <div class="card bg-transparent border-0 overflow-hidden h-100 ps-3">
                        <a href="product-detail.html" class="link-dark">
                           <div class="bg-light rounded-4 p-2 position-relative product-box">
                              <img src="img/kachighani-oil.png" alt="" class="img-fluid h-100 d-block mx-auto">
                           </div>
                        </a>
                        <div class="bg-danger position-absolute top-0 text-white osahan-badge text-center mx-3">
                           <b>4%</b><br>OFF
                        </div>
                        <div class="card-body p-0">
                           <small class="text-muted">Fortune</small>
                           <h6 class="card-title fw-bold">Kachi Ghani Pure Mustard Oil</h6>
                           <p class="card-text text-muted">1 L</p>
                        </div>
                        <div
                           class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                           <div>
                              <del class="small text-muted">$196</del>
                              <h6 class="fw-bold m-0">$188</h6>
                           </div>
                           <a href="cart.html"
                              class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                        </div>
                     </div>
                  </div>
                  <!-- 4rth item -->
                  <div class="top-picks-item">
                     <div class="card bg-transparent border-0 overflow-hidden h-100 ps-3">
                        <a href="product-detail.html" class="link-dark">
                           <div class="bg-light rounded-4 p-2 product-box">
                              <img src="img/uncle-chips.png" alt="" class="img-fluid h-100 d-block mx-auto">
                           </div>
                        </a>
                        <div class="card-body p-0">
                           <small class="text-muted">Uncle Chipps</small>
                           <h6 class="card-title fw-bold">Spicy Treat Sweet Chipps</h6>
                           <p class="card-text text-muted">50 g</p>
                        </div>
                        <div
                           class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                           <div>
                              <del class="small text-muted">$25</del>
                              <h6 class="fw-bold m-0">$20</h6>
                           </div>
                           <a href="cart.html"
                              class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                        </div>
                     </div>
                  </div>
                  <!-- 5th item -->
                  <div class="top-picks-item">
                     <div class="card bg-transparent border-0 overflow-hidden h-100 ps-3 pe-1">
                        <a href="product-detail.html" class="link-dark">
                           <div class="bg-light rounded-4 p-2 product-box">
                              <img src="img/tata-gold.png" alt="" class="img-fluid h-100 d-block mx-auto">
                           </div>
                        </a>
                        <div class="card-body p-0">
                           <small class="text-muted">Tata</small>
                           <h6 class="card-title fw-bold">Tata Gold with 15% Long Leaves</h6>
                           <p class="card-text text-muted">750 g</p>
                        </div>
                        <div
                           class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                           <div>
                              <del class="small text-muted">$470</del>
                              <h6 class="fw-bold m-0">$323</h6>
                           </div>
                           <a href="cart.html"
                              class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- banner -->
            <div class="p-3 bg-light">
               <div class="rounded-4 ps-4 pt-4 shadow-sm d-flex gap-1 align-items-center bg-warning bg-gradient justify-content-between">
                  <div class="pb-4">
                     <h1 class="fw-bolder text-black display-5 mb-1">50% OFF</h1>
                     <p class="text-dark">Special Offer: Get 50% Cashback + <span class="text-success"><i class="bi bi-basket"></i> Free Delivery</span>
                     <b class="bg-primary px-1 rounded-1 small text-uppercase fw-bold text-white mt-1 d-inline-block">New Users</b></p>
                     <a href="listing.html" class="btn btn-light text-success fw-bold rounded-3 shadow-sm btn-sm border-0">SHOP NOW</a>
                  </div>
                  <img src="img/banner1.png" alt="" class="img-fluid mt-auto osahan-offer-banner">
               </div>
            </div>
         </div>
         <!-- category button -->
         <div class="btn-category">
            <a href="#" class="btn btn-primary rounded-circle shadow-sm icon-lg" data-bs-toggle="modal"
               data-bs-target="#categories">
            <i class="icofont-food-basket icofont-3x text-white"></i>
            </a>
         </div>
         <!-- footer -->
         <div class="footer bg-white shadow mt-auto border-top">
            <div class="d-flex align-items-center justify-content-between py-1">
               <a href="index.html" class="link-dark text-center col py-2 p-1">
                  <i class="bi bi-house h3 m-0"></i>
                  <p class="small m-0 pt-1">Home</p>
               </a>
               <a href="listing.html" class="text-muted text-center col py-2 p-1">
                  <i class="bi bi-shop h3 m-0"></i>
                  <p class="small m-0 pt-1">Shop</p>
               </a>
               <a href="track-delivery-boy.html" class="text-muted text-center col py-2 p-1">
                  <i class="bi bi-geo-alt h3 m-0"></i>
                  <p class="small m-0 pt-1">Track</p>
               </a>
               <a href="cart.html" class="text-muted text-center col py-2 p-1">
                  <i class="bi bi-basket h3 m-0"></i>
                  <p class="small m-0 pt-1">Cart</p>
               </a>
               <a href="profile.html" class="text-muted text-center col py-2 p-1">
                  <i class="bi bi-person h3 m-0"></i>
                  <p class="small m-0 pt-1">Profile</p>
               </a>
            </div>
         </div>
      </div>
      <!-- location offcanvas -->
      <div class="offcanvas offcanvas-end border-0" tabindex="-1" id="location" aria-labelledby="locationLabel">
         <div class="offcanvas-header bg-primary d-flex align-items-center justify-content-start gap-3">
            <a href="#" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-arrow-left fs-5 text-white"></i></a>
            <h6 class="offcanvas-title text-white m-0" id="locationLabel">Enter your area or apartment name</h6>
         </div>
         <div class="offcanvas-body">
            <!-- search -->
            <div class="input-group bg-white rounded-3 border py-1">
               <a href="#" class="input-group-text bg-transparent border-0 rounded-0 px-3" id="search"><i class="icofont-search"></i></a>
               <input type="text" class="form-control bg-transparent border-0 rounded-0 ps-0" placeholder="Try J P Nagar, Andheri West etc.." aria-label="Try J P Nagar, Andheri West etc.." aria-describedby="search">
            </div>
            <a href="#" class="link-dark" data-bs-dismiss="offcanvas" aria-label="Close">
               <div class="d-flex align-items-center gap-2 text-primary py-3 border-bottom">
                  <i class="icofont-location-arrow"></i>
                  <p class="m-0">Use my Current location</p>
               </div>
            </a>
            <!-- Saved Address -->
            <div class="border-bottom py-3">
               <p class="text-black text-uppercase small">Saved Addresses</p>
               <div class="d-flex align-items-center justify-content-between">
                  <div class="w-75">
                     <a href="#" class="link-dark" data-bs-dismiss="offcanvas" aria-label="Close">
                        <div class="d-flex align-items-center gap-2 osahan-mb-1">
                           <i class="icofont-ui-home text-muted fs-6"></i>
                           <h6 class="fw-bold mb-0">Home</h6>
                        </div>
                        <p class="text-muted text-truncate mb-0 ps-4">H.No. 2834 Street, 784 Sector, Ludhiana, Punjab</p>
                     </a>
                  </div>
                  <a href="#" class="link-dark">
                     <div class="bg-light rounded-circle icon-sm">
                        <i class="icofont-share fs-5 text-dark-emphasis"></i>
                     </div>
                  </a>
               </div>
            </div>
            <!-- recent search -->
            <div class="py-3">
               <p class="text-black text-uppercase small">Recent Searches</p>
               <a href="#" class="link-dark" data-bs-dismiss="offcanvas" aria-label="Close">
                  <div class="d-flex align-items-center gap-2 osahan-mb-1">
                     <i class="icofont-location-pin text-muted fs-6"></i>
                     <h6 class="fw-bold mb-0">Ludhiana</h6>
                  </div>
                  <p class="text-muted text-truncate mb-0 ps-4">87997 Street, 784 Sector, Ludhiana, Punjab</p>
               </a>
            </div>
         </div>
      </div>
      <!-- Search Offcanvas -->
      <div class="offcanvas offcanvas-bottom border-0 h-100" tabindex="-1" id="searchoffcanvas"
         aria-labelledby="searchoffcanvasLabel">
         <div class="offcanvas-header bg-primary">
            <div class="input-group bg-white rounded-3 border-0 p-0">
               <a href="#" class="input-group-text bg-transparent border-0 rounded-0" id="search" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-arrow-left fs-5"></i></a>
               <input type="text" class="form-control bg-transparent border-0 rounded-0" placeholder="Search for groceries and more" aria-label="Search for groceries and more" aria-describedby="search" value="Chips">
            </div>
         </div>
         <div class="offcanvas-body p-0">
            <div class="row g-0">
               <div class="col-12 border-bottom">
                  <h6 class="p-3 m-0">139 result for <span class="fw-bold">"Chips"</span></h6>
               </div>
            </div>
            <div class="row border-bottom g-0">
               <div class="col-6 border-end">
                  <div class="card bg-transparent border-0 p-3">
                     <a href="product-detail.html">
                     <img src="img/uncle-chips.png" alt="" class="img-fluid w-75 d-block mx-auto">
                     </a>
                     <div class="card-body p-0">
                        <small class="text-muted">Uncle Chipps</small>
                        <h6 class="card-title fw-bold">Spicy Treat Sweet Chipps</h6>
                        <p class="card-text text-muted">50 g</p>
                     </div>
                     <div
                        class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                        <h6 class="fw-bold m-0">$20</h6>
                        <a href="cart.html" class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                     </div>
                  </div>
               </div>
               <div class="col-6">
                  <div class="card bg-transparent border-0 p-3">
                     <a href="product-detail.html">
                     <img src="img/kurkure.png" alt="" class="img-fluid w-75 d-block mx-auto">
                     </a>
                     <div class="card-body p-0">
                        <small class="text-muted">Kurkura</small>
                        <h6 class="card-title fw-bold">Masala Munch Crips Chipps</h6>
                        <p class="card-text text-muted">40 g</p>
                     </div>
                     <div
                        class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                        <h6 class="fw-bold m-0">$10</h6>
                        <a href="cart.html" class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row border-bottom g-0">
               <div class="col-6 border-end">
                  <div class="card bg-transparent border-0 p-3">
                     <a href="product-detail.html">
                     <img src="img/lays-cream.png" alt="" class="img-fluid w-75 d-block mx-auto">
                     </a>
                     <div class="card-body p-0">
                        <small class="text-muted">Lay'S</small>
                        <h6 class="card-title fw-bold">Lay's Amarican Cream & Onion</h6>
                        <p class="card-text text-muted">73 g</p>
                     </div>
                     <div
                        class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                        <h6 class="fw-bold m-0">$30</h6>
                        <a href="cart.html" class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                     </div>
                  </div>
               </div>
               <div class="col-6">
                  <div class="card bg-transparent border-0 p-3">
                     <a href="product-detail.html">
                     <img src="img/lays-masala.png" alt="" class="img-fluid w-75 d-block mx-auto">
                     </a>
                     <div class="card-body p-0">
                        <small class="text-muted">Lay'S</small>
                        <h6 class="card-title fw-bold">Lay's India's Magic Masala Chips</h6>
                        <p class="card-text text-muted">50 g</p>
                     </div>
                     <div
                        class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                        <h6 class="fw-bold m-0">$20</h6>
                        <a href="cart.html" class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row border-bottom g-0">
               <div class="col-6 border-end">
                  <div class="card bg-transparent border-0 p-3">
                     <a href="product-detail.html">
                     <img src="img/lays-potato.png" alt="" class="img-fluid w-75 d-block mx-auto">
                     </a>
                     <div class="card-body p-0">
                        <small class="text-muted">Lay'S</small>
                        <h6 class="card-title fw-bold">Lay's Hot N Sweet Chiili Potato Chips</h6>
                        <p class="card-text text-muted">50 g</p>
                     </div>
                     <div
                        class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                        <h6 class="fw-bold m-0">$20</h6>
                        <a href="cart.html" class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                     </div>
                  </div>
               </div>
               <div class="col-6">
                  <div class="card bg-transparent border-0 p-3">
                     <a href="product-detail.html">
                     <img src="img/lays-hot-potato.png" alt="" class="img-fluid w-75 d-block mx-auto">
                     </a>
                     <div class="card-body p-0">
                        <small class="text-muted">Lay'S</small>
                        <h6 class="card-title fw-bold">Lay's India's Magic Masala Chips</h6>
                        <p class="card-text text-muted">100 g</p>
                     </div>
                     <div
                        class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-0">
                        <h6 class="fw-bold m-0">$70</h6>
                        <a href="cart.html" class="btn btn-outline-success fw-bold rounded-3 shadow-sm btn-sm">ADD</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Categories Modal -->
      <div class="modal fade" id="categories" tabindex="-1" aria-labelledby="categoriesLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered modal-sm modal-dialog-scrollable">
            <div class="modal-content border-0 rounded-4 h-75">
               <div class="modal-header border-0 px-4">
                  <div class="modal-title" id="categoriesLabel">
                     <h5 class="fw-bold text-black mb-1">Shop by categories</h5>
                     <p class="mb-0">24 categories</p>
                  </div>
               </div>
               <div class="modal-body border-top p-4">
                  <div class="row row-cols-3 gy-3">
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-1.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Foodmart Hot Deals</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-2.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Fruits and Vegetables</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-3.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Atta, Rice and Dals</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-4.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Dry fruits and Masalas</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-5.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Dairy, Bread and Eggs</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-6.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Foodmart Instant Food</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-7.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Chocklates & Desserts</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-8.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Foodmart Munchies</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-9.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Cold Drinks and Juices</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-10.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Cereals and Breakfast</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-11.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Sauces and Spreads</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-12.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Tea, Coffee and More</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-13.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Foodmart Biscuits</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-14.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Bath, Body and Hair</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-15.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Cleaning Essentials</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-16.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Beauty and Grooming</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-17.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Home and Kitchens</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-18.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Sationary and Electrical</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-19.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Hygiene and Wellness</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-20.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Foodmart Baby Care</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-21.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">New Pet Supplies</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-22.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Paan Corner items</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-23.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Foodmart Fresh Meat</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="col">
                        <a href="listing.html" class="link-dark">
                           <div class="card bg-transparent border-0 text-center">
                              <img src="img/category-24.png" alt="" class="card-img-top rounded-4 mb-2">
                              <div class="card-body p-0">
                                 <p class="card-title m-0">Foodmart Bakery items</p>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- sidebar nav -->
      <nav id="main-nav">
         <ul class="second-nav">
            <li class="osahan-user-profile bg-primary">
               <div class="d-flex align-items-center gap-2">
                  <img src="img/delivery-boy.jpg" alt="" class="rounded-pill img-fluid">
                  <div class="ps-1">
                     <h5 class="fw-bold text-white osahan-mb-1">Black Smith</h5>
                     <p class="text-white-50 m-0">+91 12345-67890</p>
                  </div>
               </div>
            </li>
            <li><a href="index.html"><i class="bi bi-house me-3"></i>Homepage</a></li>
            <li><a href="listing.html"><i class="bi bi-grid me-3"></i>Listing</a></li>
            <li><a href="product-detail.html"><i class="bi bi-file-break me-3"></i>Product Detail</a></li>
            <li><a href="cart.html"><i class="bi bi-basket me-3"></i>Cart</a></li>
            <li><a href="payment-option.html"><i class="bi bi-credit-card me-3"></i>Payment Option</a></li>
            <li><a href="payment-details.html"><i class="bi bi-stopwatch me-3"></i>Payment Time</a></li>
            <li><a href="order-received.html"><i class="bi bi-check-circle me-3"></i>Order Received</a></li>
            <li><a href="track-order.html"><i class="bi bi-truck me-3"></i>Track Order</a></li>
            <li><a href="track-delivery-boy.html"><i class="bi bi-person-vcard me-3"></i>Track Delivery Boy</a></li>
            <li><a href="profile.html"><i class="bi bi-person me-3"></i>Profile</a></li>
            <li><a href="order-detail.html"><i class="bi bi-receipt me-3"></i>Order Details</a></li>
            <li>
               <a href="#"><i class='bi bi-link me-3'></i>Example Multi Link</a>
               <ul>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
               </ul>
            </li>
         </ul>
         <ul class="bottom-nav">
            <li class="home">
               <a href="index.html" class="text-primary">
                  <p class="h5 m-0"><i class="bi bi-house"></i></p>
                  Home
               </a>
            </li>
            <li class="cart">
               <a href="cart.html">
                  <p class="h5 m-0"><i class="bi bi-basket"></i></p>
                  Cart
               </a>
            </li>
            <li class="profile">
               <a href="profile.html">
                  <p class="h5 m-0"><i class="bi bi-person"></i></p>
                  Profile
               </a>
            </li>
         </ul>
      </nav>
      <!-- Bootstrap Bundle Js -->
      <script src="vender fd/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Jquery -->
      <script src="vender fd/jquery/jquery.min.js"></script>
      <!-- Slick Slider Js -->
      <script src="vender fd/slick/slick/slick.min.js"></script>
      <!-- Sidebar js -->
      <script src="vender fd/sidebar/hc-offcanvas-nav.js"></script>
      <!-- Custom Js -->
      <script src="js fd/custom.js"></script>
   </body>
</html>