<footer class="py-4 bg-footer mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted-1">© 2024 <b>Fairway Supermarket</b>.</div>
            <div class="footer-links">
                <a href="/privacy-policy">Privacy Policy</a>
                <a href="/terms-conditions">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>